*{
    margin: 0;
    padding: 0;
}


.modal{
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
}

.field{
    width: 100px;
    height: 100px;
}